.BotModelo{
	margin-left:   30px;
    margin-top:    56px;
}

.BotCarga{
	margin-left:   10px;
}

.BotPre{
	margin-left:   10px;
    margin-top:    52px;
}

.TxtInstrucoes{
	font-size: 10px;
}

.bold{
	font-size: 10px;
	font-weight: bold;
	}